In [3]:
#opening the water data from california water suppliers

In [6]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

In [10]:
file_open_path = 'clearinghouse_report.csv'

df = pd.read_csv(file_open_path)

In [14]:
df.head()

,ORG_ID,SUPPLIER_NAME,WATER_SYSTEM_ID,REPORT_PERIOD_START_DATE,REPORT_PERIOD_END_DATE,POP_REPORT_PERIOD,DWR_STANDARD_LEVEL,POTABLE_SUPPLY_UOM,POTABLE_SUPPLY_OU,POTABLE_SUPPLY_GAL,...,POTABLE_DEMAND_PRELIM_EST,NONPOTABLE_DEMAND_UOM,RES_RECYCLED_DEMAND_OU,NON_RES_RECYCLED_DEMAND_OU,RECYCLED_WATER_DEMAND_OU,RECYCLED_DEMAND_GAL,NON_POTABLE_DEMAND_PRELIM_EST,POTABLE_SUPPLY_COMMENTS,POTABLE_DEMAND_COMMENTS,NON_POTABLE_DEMAND_COMMENTS
0,13,City of Adelanto,CA3610001,2024-12-01,2024-12-31,39930,2 (10-19% Shortage),Gallons (G),130823576.0,130823576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13,City of Adelanto,CA3610001,2024-11-01,2024-11-30,39930,2 (10-19% Shortage),Gallons (G),119950288.0,119950288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13,City of Adelanto,CA3610001,2024-10-01,2024-10-31,39930,2 (10-19% Shortage),Gallons (G),142454700.0,142454700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,City of Adelanto,CA3610001,2024-09-01,2024-09-30,39930,2 (10-19% Shortage),Gallons (G),142899116.0,142899116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13,City of Adelanto,CA3610001,2024-08-01,2024-08-31,39930,2 (10-19% Shortage),Gallons (G),158771620.0,158771620.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
print(df.columns)

Index(['ORG_ID', 'SUPPLIER_NAME', 'WATER_SYSTEM_ID',
       'REPORT_PERIOD_START_DATE', 'REPORT_PERIOD_END_DATE',
       'POP_REPORT_PERIOD', 'DWR_STANDARD_LEVEL', 'POTABLE_SUPPLY_UOM',
       'POTABLE_SUPPLY_OU', 'POTABLE_SUPPLY_GAL', 'POTABLE_SUPPLY_PRELIM_EST',
       'POTABLE_DEMAND_UOM', 'POTABLE_VOL_SOLD_OU', 'POTABLE_VOL_SOLD_GAL',
       'POTABLE_SUPPLY_MINUS_SOLD_GAL', 'POTABLE_DEMAND_RES_SF_OU',
       'POTABLE_DEMAND_RES_MF_OU', 'POTABLE_DEMAND_RES_OU',
       'POTABLE_DEMAND_RES_GAL', 'R-GPCD', 'POTABLE_DEMAND_RES_PRELIM_EST',
       'POTABLE_DEMAND_AG_OU', 'POTABLE_DEMAND_AG_GAL', 'POTABLE_DEMAND_CI_OU',
       'POTABLE_DEMAND_I_OU', 'POTABLE_DEMAND_CII_OU',
       'POTABLE_DEMAND_CII_GAL', 'POTABLE_DEMAND_IRR_OU',
       'POTABLE_DEMAND_IRR_GAL', 'POTABLE_DEMAND_O_OU', 'POTABLE_DEMAND_O_GAL',
       'POTABLE_DEMAND_PRELIM_EST', 'NONPOTABLE_DEMAND_UOM',
       'RES_RECYCLED_DEMAND_OU', 'NON_RES_RECYCLED_DEMAND_OU',
       'RECYCLED_WATER_DEMAND_OU', 'RECYCLED_DEMAND_GAL',
       'NON_POTABLE_DEMAND_PRELIM_EST', 'POTABLE_SUPPLY_COMMENTS',
       'POTABLE_DEMAND_COMMENTS', 'NON_POTABLE_DEMAND_COMMENTS'],
      dtype='object')